{% extends "_layouts/cp" %}
{% set selectedSubnavItem = 'saml' %}

{% set title = "OneLogin Settings"|t('onelogin') %}

{% set navItems = {
    'config': { heading: 'Configuration'|t('onelogin') },
    'saml': { title: 'SAML'|t('onelogin') },
    'portal': { title: 'SSO Portal'|t('onelogin') },
    'onelogin': { title: 'OneLogin Credentials'|t('onelogin') },
} %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{% set docTitle = (navItems[selectedItem].title|default('Settings')) ~ ' - ' ~ title %}

{% if settings is not defined %}
    {% set settings = craft.app.plugins.getPlugin('onelogin').getSettings %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('onelogin/settings/'~handle) }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}